@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* removing default pading and margin */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
}
/* styling app container */
.container{
    padding-top: 20px;
    width: 80%;
    margin: auto;
}
/*  Header section with titile and theme toggle */
.title-container{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    gap: 6px;
    margin-bottom: 10px;
}
.title-container > .logo{
    flex-grow: 1;
    display: flex;
}
/* styling search input and suggestion dropdown */
.search-container{
   width: 40%;
   height: 50px;
   position: relative;
   border: 1px solid rgba(183, 168, 168, 0.395);
   border-radius: 10px;
  
}
.search-container > input {
   flex-grow: 1;
    height: 100%;
    outline: none;
    font-size: 20px;
    padding: 0 10px;
    background: none;
    border: none;
    border-radius: 10px;
    width: 100%;
 
}
input:active{
    background: none;
}
.suggestion{
    width: 100%;
    max-height: 400px;

    position: absolute;
    display: none;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 10px;
    top: 60px;
}
.suggestion-items {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 10px;
    gap: 10px;
    border-bottom: 1px solid rgba(183, 168, 168, 0.395);
    cursor: pointer;
}
.suggestion-items:hover{
    background-color: rgba(76, 66, 66, 0.58);
}
.suggestion-items > img {
    aspect-ratio: 16/9;
}
.lang-pref-container{
    display: flex;
    padding: 10px;
    justify-content: end;
    padding-right: 10px;
  
   
}
.lang-pref-container > button{
    background: none;
    border: none;
    color: white;
    padding: 0 10px;
    background-color: gray;
    
}
/* styling selected recepie container and its child */
.recipe-container{
    padding: 8px 48px;
    display: none;
  
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
    gap: 20px;
    border-radius: 10px;
    padding-bottom: 30px;

}
.recipe-container > * {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}
.recipe-container > .item{
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.recipe-container > .desc{
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: center;
    color: rgba(255, 255, 255, 0.663);
}
.recipe-container > .desc > p:first-child{
    font-size: 30px;
    color: white;

}
h1{
    text-align: center;
    border: none;
}
.recipe-container > .item > img{
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    
}
.ingredient-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
  

}
.ingredient{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    border-radius: 10px;
    gap: 4px;
    background-color: rgb(56, 55, 55);
}
.ingredient > img{
    aspect-ratio: 1/1;
    width: 60px;
}
.ingredient > p:first-child{
    font-size: 12px;
  

}
.ingredient > p:last-child{
    font-size: 10px;

}
.video{
   grid-column-start: 3;
    grid-column-end: 5;
   aspect-ratio: 16/9;
   border: none;
   border-radius: 10px;
   padding: 0;
}

@media (max-width:720px ){
.container{
    width: 95%;
    margin: auto;
}
.suggestion{
   width: 400px;
   left: -200px;
}
.recipe-container > .item{
    
    grid-column-start: 1;
    grid-column-end:5;
  
}
.recipe-container > .item > img{
    width: 60%;
    aspect-ratio: 1/1;
    
}
.recipe-container > .desc{
    grid-column-start: 1;
    grid-column-end: 5;
}
.video{
   grid-column-start: 1;
    grid-column-end: 5;
}
.ingredient{
   
  width: 100%;

}
}